.sidebar {
    height: 100%;
    width: 400px;
    border-right: 1px solid $color-shadow;
    margin: 50px 0;
    padding-left: 30px;


}
.sidebar-title {
    font-size: 2em;
    color: $color-main;
    margin: 0;
}
